<div class="filters-wrapper">
<div class="filters flex flex-row gap-2">
  <p-button (click)="toggleFilter()">
    <i class="pi pi-filter"></i>
    <span>Filters</span>
  </p-button>
  <p-button [outlined]="true" (click)="resetFilter()" *ngIf="filterActive">
    <i class="pi pi-refresh"></i>
    <span>Reset filters</span>
  </p-button>
</div>

  <p-dropdown
    *ngIf="filterActive"
    [options]="orderStatus"
    [(ngModel)]="selectedState"
    (onChange)="filterOrders()"
    placeholder="Select a status">
  </p-dropdown>

  <p-dropdown
    *ngIf="filterActive"
    [options]="countries"
    [(ngModel)]="selectedCountry"
    (onChange)="filterOrders()"
    placeholder="Select a country">
  </p-dropdown>
</div>
<p-dialog [header]="'Details'" [modal]="true" [(visible)]="visible" [style]="{ width: '50rem' }" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [maximizable]="true">
  <div class="wrapper">
    <h2>Order #00{{ selectedOrder?.id }}</h2>
    <h3>Information details</h3>
    <p-divider/>
    <div class="order-infos">
      <p>Date : {{ selectedOrder?.date | date: 'dd/MM/yyyy' }} at {{ selectedOrder?.date | date: 'HH:mm' }}</p>
      <p>Fullname : {{ selectedOrder?.firstname }} {{ selectedOrder?.lastname }}</p>
      <p>Address : {{ selectedOrder?.address}}</p>
      <p>Country : {{ selectedOrder?.country}}</p>
      <p>Date : {{ selectedOrder?.date | date: 'dd/MM/yyyy' }} at {{ selectedOrder?.date | date: 'HH:mm' }}</p>
    </div>
    <h3>Products</h3>
    <p-divider/>
    @for (product of selectedOrder?.product; track product.id) {
      <div class="product-wrapper">
        <p>{{ product.name }}</p>
        <p class="quantity">x{{ product.quantity }}</p>
        <p>{{ product.price  | currency: 'EUR' }} unit.</p>
      </div>
    }
    <p><strong>Total price : {{ selectedOrder?.totalPrice | currency: 'EUR' }}</strong></p>
    <h3>Status</h3>
    <p-divider/>
<app-badge-order [order]="selectedOrder" />
  </div>
</p-dialog>
<div class="card-wrapper">
  @for (order of filteredOrders; track order.id) {
    <div class="card">
      <app-badge-order [order]="order" />

      <h3>Order from the {{ order.date | date: 'dd/MM/yyyy' }} at {{ order.date | date: 'HH:mm' }}</h3>
      <div class="detail cursor-pointer">
        <p (click)="showOrderDetails(order)">View details</p>
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
          <path d="M3.3335 10H16.6668M16.6668 10L11.6668 5M16.6668 10L11.6668 15" stroke="#9B0058" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </div>
      <div class="order-infos">
        <div class="order-number">
          <p>Order number #00{{ order.id }}</p>
        </div>
        <div>|</div>
        <div class="total-products">
          {{ order.product.length }} {{ order.product.length < 2 ? 'product' : 'products' }}
        </div>
      </div>
      <div class="price">
        <p>{{ order.totalPrice | currency: 'EUR' }}</p>
      </div>
      <div class="buttons">
        <p-button (click)="confirmUpdate(order)" >
          <span>Update Status</span>
          <i class="pi pi-sync"></i>
        </p-button>
        <p-button [outlined]="true" (click)="deleteConfirm(order.id)">
          <span>Cancel order</span>
          <i class="pi pi-times"></i>
        </p-button>
      </div>
    </div>
  } @empty {
    <p><strong>No order match this filter.</strong></p>
  }
</div>
